<div class="row">
  <div class="col-md-2">
  </div>
  <div class="col-md-8">
    <% if @user %>    
      <h1>Create New Topic</h1>
      <%= render partial: 'form', locals: {user: @user, topic: @topic} %>
    <% else %>
      <h2>You must sign in to create topics.</h2>
    <% end %>    
  </div>
</div>