<div class="row">
  <div class="col-md-2">
  </div>
  <div class="col-md-8">
    <% if @user %>    
      <h1>Edit Topic: <%= @topic.title %></h1>
      <%= render partial: 'form', locals: {user: @user, topic: @topic} %>
    <% else %>
      <h2>You must sign in to edit topics.</h2>
    <% end %>    
  </div>
</div>
